@import controllers.auth.AdminSignUpForm
@import database.Constraints
@import org.webjars.play.WebJarsUtil
@import views.html.helper.FieldConstructor

@this(lite: templates.lite, webJarsUtil: WebJarsUtil)
@(form: play.data.Form[AdminSignUpForm])(implicit request: Http.Request, messages: play.i18n.Messages)

@implicitField = @{
  FieldConstructor(templates.bootstrapFieldConstructor.f)
}

@lite(title = messages("auth.admin.signup.title"),
  javascripts = routes.Assets.versioned("javascripts/adminSignUpForm.js") :: Nil,
  webJarsJsAssets = webJarsUtil.locate("zxcvbn", "zxcvbn.js") :: Nil) {

  <div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="white-box col-10 col-md-8 col-lg-6">
        <p class="form-title">@messages("auth.admin.signup.title")</p>
        @helper.form(action = controllers.auth.routes.PublicAuth.doAdminSignUp()) {
          @helper.CSRF.formField
          @helper.inputText(form("name"),
            Symbol("class") -> "form-control",
            Symbol("_label") -> messages("users.name"),
            Symbol("_showConstraints") -> false)
          @helper.inputText(form("email"),
            Symbol("class") -> "form-control",
            Symbol("_label") -> messages("users.email"),
            Symbol("_showConstraints") -> false)
          @helper.inputPassword(form("password"),
            Symbol("class") -> "form-control",
            Symbol("_label") -> messages("users.password"),
            Symbol("_help") -> messages("auth.signup.password.tips",
              Constraints.PASSWORD_MIN_LENGTH,
              Constraints.PASSWORD_MIN_STRENGTH))
          <div class="row">
            <div class="col-sm-8 offset-sm-4">
              <p>@messages("auth.signup.password.strength") &nbsp;
                <span id="passwordStrength" class="badge badge-danger">0</span></p>
            </div>
          </div>
          @helper.inputPassword(form("passwordRepetition"),
            Symbol("class") -> "form-control",
            Symbol("_label") -> messages("users.passwordRepetition"),
            Symbol("_showConstraints") -> false)

          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary float-right">@messages("auth.signup")</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}