@import controllers.auth.SignInForm
@import views.html.helper.FieldConstructor

@this(lite: templates.lite)
@(form: play.data.Form[SignInForm])(implicit messages: play.i18n.Messages, request: Http.Request)

  @implicitField = @{
    FieldConstructor(templates.bootstrapFieldConstructor.f)
  }

  @lite(title = messages("auth.signin.title")) {

    <div class="container-fluid">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="white-box col-10 col-md-8 col-lg-6">
          <p class="form-title">@messages("auth.signin.title")</p>
          @if(form.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
            @for(error <- form.globalErrors) {
              <p>@error.format(messages)</p>
            }
            </div>
          }
          @helper.form(action = controllers.auth.routes.PublicAuth.doSignIn()) {
            @helper.CSRF.formField
            @helper.input(form("redirectUrl"),
              Symbol("class") -> "hidden") { (id, name, value, args) =>
              <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
            }
            @helper.inputText(form("email"),
              Symbol("class") -> "form-control",
              Symbol("_label") -> messages("users.email"),
              Symbol("_showConstraints") -> false)
            @helper.inputPassword(form("password"),
              Symbol("class") -> "form-control",
              Symbol("_label") -> messages("users.password"),
              Symbol("_showConstraints") -> false)

            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-right">@messages("auth.signin")</button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }