@import ch.varani.briventory.BriventoryBuildInfo
import org.webjars.play.WebJarsUtil

@(title: String, stylesheets: List[Call] = Nil, javascripts: List[Call] = Nil, webJarsJsAssets: List[WebJarsUtil#WebJarAsset] = Nil)(content: Html)(implicit webJarsUtil: WebJarsUtil, messages: play.i18n.Messages)

@templates.main(title,
  routes.Assets.versioned("stylesheets/lite.css") :: stylesheets.toList,
  javascripts = javascripts,
  webJarsJsAssets = webJarsJsAssets) {
  <div class="lite">
    <div class="title">
      <img src="@routes.Assets.versioned("images/briventory.png")" alt="@BriventoryBuildInfo.name"></img><h1>
      Briventory</h1>
    </div>
    <div class="lite-container">
    @content
    </div>
  </div>
}