@import utils.BriventoryBuildInfo
@import org.webjars.play.WebJarsUtil

@this(main: templates.main)
@(title: String, stylesheets: List[Call] = Nil, javascripts: List[Call] = Nil, webJarsJsAssets: List[WebJarsUtil#WebJarAsset] = Nil)(content: Html)(implicit messages: play.i18n.Messages)

@main(
  title = title,
  stylesheets = routes.Assets.versioned("stylesheets/lite.css") :: stylesheets.toList,
  javascripts = javascripts,
  webJarsJsAssets = webJarsJsAssets) {
  <div class="lite">
    <div class="title">
      <img src="@routes.Assets.versioned("images/briventory.png")" alt="@BriventoryBuildInfo.name"></img><h1>
      Briventory</h1>
    </div>
    <div class="lite-container">
    @content
    </div>
  </div>
}