@import org.webjars.play.WebJarsUtil
@import utils.BriventoryBuildInfo

@this(webJarsUtil: WebJarsUtil)
@(title: String, stylesheets: List[Call] = Nil, javascripts: List[Call] = Nil, jsRoutes: List[Call] = Nil, webJarsJsAssets: List[WebJarsUtil#WebJarAsset] = Nil)(content: Html)(implicit messages: play.i18n.Messages)

<!DOCTYPE html>
<html lang="@messages.lang().code()">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>@(BriventoryBuildInfo.name + ": " + title)</title>

    <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon-16x16.png")">
    <link rel="manifest" href="@routes.Assets.versioned("images/site.webmanifest")">
    <link rel="mask-icon" href="@routes.Assets.versioned("images/safari-pinned-tab.svg")" color="#d5cc5b">
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")">
    <meta name="apple-mobile-web-app-title" content="Briventory">
    <meta name="application-name" content="Briventory">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-config" content="@routes.Assets.versioned("images/browserconfig.xml")">
    <meta name="theme-color" content="#ffffff">

    @webJarsUtil.locate("font-awesome", "all.css").css()
    @webJarsUtil.locate("bootstrap", "bootstrap.min.css").css()
    @styles = @{
      routes.Assets.versioned("stylesheets/main.css") :: stylesheets.toList
    }

    @for(stylesheet <- styles) {
      <link rel="stylesheet" media="all" href="@stylesheet"/>
    }

    @webJarsUtil.locate("jquery", "jquery.min.js").script()
    @webJarsUtil.locate("bootstrap", "bootstrap.bundle.min.js").script()

    @for(jsAssets <- webJarsJsAssets) {
      @jsAssets.script()
    }

    @for(route <- jsRoutes) {
      <script defer src="@route" type="text/javascript"></script>
    }
    @scripts = @{
      routes.Assets.versioned("javascripts/main.js") :: javascripts.toList
    }

    @for(javascript <- scripts) {
      <script defer src="@javascript" type="text/javascript"></script>
    }
  </head>
  <body>
    @content

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-3 my-4 border-top">
      <div class="col-md-6 d-flex align-items-center">
        <a href="https://www.varani.ch/briventory" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="@routes.Assets.versioned("images/varani_logo_small.png")" alt="Varani.ch Logo" width="133" height="25" class="d-inline-block align-text-top">
        </a>
        <span class="text-muted">© 2022 varani.ch | @messages("lego.disclamer")</span>
      </div>

      <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="@routes.PublicController.credits()"><i aria-hidden="true" class="fab fa-osi"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
