@import org.webjars.play.WebJarsUtil
@this(main: templates.main)

@(title: String, account: Account, stylesheets: List[Call] = Nil, javascripts: List[Call] = Nil, jsRoutes: List[Call] = Nil, webJarsJsAssets: List[WebJarsUtil#WebJarAsset] = Nil)(content: Html)(implicit messages: play.i18n.Messages)

@main(title = title, stylesheets, javascripts, jsRoutes, webJarsJsAssets) {

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="@routes.GlobalController.index()">
        <img src="@routes.Assets.versioned("images/briventory.png")" alt="Briventory Logo" width="30" height="24" class="d-inline-block align-text-top">
        Briventory
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="fas fa-user-circle"></i>
              <strong>@account.getFirstname&nbsp;@account.getLastname</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="navbarDropdownUser">
              <li><a class="dropdown-item" href="@controllers.accounts.routes.AccountsController.activity()">@messages("account.activity.title")</a></li>
              <li><a class="dropdown-item" href="@controllers.accounts.routes.AccountsController.settings()">@messages("account.settings.title")</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">@messages("user.storage.title")</h6></li>
              <li><a class="dropdown-item" href="@controllers.storage.routes.StorageController.containers()">@messages("storage.containers.title")</a></li>
              @if(account.isAdministrator) {
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">@messages("admin.title")</h6></li>
                <li><a class="dropdown-item" href="#">@messages("admin.members.title")</a></li>
                <li><a class="dropdown-item" href="#">@messages("admin.settings.title")</a></li>
              }

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="@controllers.auth.routes.SecuredAuth.signOut()">@messages("account.signOut.title")</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="fas fa-boxes"></i>
              @messages("inventory.title")
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">@messages("inventory.items.title")</a></li>
              <li><a class="dropdown-item" href="#">@messages("inventory.partOut.title")</a></li>
              <li><a class="dropdown-item" href="#">@messages("inventory.settings.title")</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">@messages("inventory.sync.title")</h6></li>
              <li><a class="dropdown-item" href="#">BrickLink</a></li>
              <li><a class="dropdown-item" href="#">Rebrickable</a></li>
              <li><a class="dropdown-item" href="#">Brickset</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">@messages("inventory.tools.title")</h6></li>
              <li><a class="dropdown-item" href="#">@messages("inventory.tools.consolidation.title")</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="fas fa-tools"></i>
            @messages("mocs.title")
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">@messages("mocs.models.title")</a></li>
              <li><a class="dropdown-item" href="#">@messages("mocs.wantedList.title")</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="fas fa-shopping-cart"></i>
              @messages("orders.title")
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">@messages("orders.received.title")</a></li>
              <li><a class="dropdown-item" href="#">@messages("orders.placed.title")</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">@messages("orders.settings.title")</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <i aria-hidden="true" class="fas fa-coins"></i>
              @messages("accounting.title")
            </a>
          </li>

        </ul>
        <form class="d-flex input-group-sm">
            <input class="form-control" type="search"  placeholder="@messages("search.title")" aria-label="@messages("search.title")" aria-describedby="button-search">
            <button class="btn btn-outline-secondary" type="search" id="button-search">@messages("button.search.caption")</button>
        </form>
      </div>
    </div>
  </nav>

  @content
}

