@import controllers.accounts.CredentialsForm
@import views.html.helper.FieldConstructor

@(credentialsForm: Form[CredentialsForm])(implicit request: Http.Request, messages: play.i18n.Messages)

@implicitField = @{
  FieldConstructor(templates.bootstrapFieldConstructor.f)
}

<div id="credentials-card" class="card h-100">
  <div class="card-header">@messages("account.settings.credentials.password.label")</div>
  <div class="card-body">
    <form id="credentials-card-form">
      @helper.CSRF.formField
      @helper.input(credentialsForm("idAccount"), Symbol("type") -> "hidden") { (id, name, value, args) =>
        <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
      }
      @helper.inputPassword(credentialsForm("currentPassword"),
        Symbol("class") -> "form-control",
        Symbol("_label") -> messages("account.settings.credentials.password.current.label"))
      @helper.inputPassword(credentialsForm("newPassword"),
        Symbol("class") -> "form-control",
        Symbol("_label") -> messages("account.settings.credentials.password.new.label"))
      @helper.inputPassword(credentialsForm("newPasswordRepeated"),
        Symbol("class") -> "form-control",
        Symbol("_label") -> messages("account.settings.credentials.password.repeated.label"))
    </form>
  </div>
  <div class="card-footer text-end">
    <button type="submit" id="credentials-card-submit" class="btn btn-primary" onclick="credentialsCardFormSubmission()">@messages("button.update.caption")</button>
  </div>

  <script>
          /** Performs the submission of the <code>email-card-form</code>. */
          function credentialsCardFormSubmission() {
            blockWithSpinner("#credentials-card");

            settingsJSRoutes.controllers.accounts.AccountsController.updateCredentials().ajax({
              async: true,
              method: "POST",
              data: $("#credentials-card-form").serialize(),
              success: function (data) {
                $("#credentials-card").replaceWith(data);
                classTransition("#credentials-card-submit", "btn-success", 3000);
              },
              error: function (data) {
                $("#credentials-card").replaceWith(data.responseText);
                classTransition("#credentials-card-submit", "btn-danger", 3000);
              }
            });
          }

          $("#credentials-card-form").submit(function () {
            credentialsCardFormSubmission();
            return false;
          });
  </script>
</div>