@import controllers.accounts.{BrickLinkTokensForm, CredentialsForm, EmailForm, NameForm}
@import play.data.Form
@import views.html.helper.FieldConstructor

@this(signedin: templates.signedin)
@(account: Account,
        emailForm: Form[EmailForm],
        nameForm: Form[NameForm],
        credentialsForm: Form[CredentialsForm],
        brickLinkTokensForm: Form[BrickLinkTokensForm])(implicit request: Http.Request, messages: play.i18n.Messages)

@implicitField = @{
  FieldConstructor(templates.bootstrapFieldConstructor.f)
}

@signedin(title = messages("account.settings.title"),
          account,
          Nil,
          Nil,
          controllers.accounts.routes.AccountsController.settingsJs() :: Nil) {
  <div class="container-fluid">

    <h2>@messages("account.settings.title")</h2>
    <p>@Html(messages("account.settings.explained"))</p>

    <div class="accordion" id="settingsAccordion">

      <div class="accordion-item">
        <h2 class="accordion-header collapsed" id="credentials">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#credentialsCollapse" aria-expanded="false" aria-controls="credentialsCollapse">
          @messages("account.settings.account.title")
          </button>
        </h2>
        <div id="credentialsCollapse" class="accordion-collapse collapse" aria-labelledby="credentials" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <p>@Html(messages("account.settings.account.explained"))</p>
            <hr>

            <div class="row row-cols-1 row-cols-md-3 g-3">
              <div class="col">
                @views.html.accounts.emailCard(emailForm)
              </div>

              <div class="col">
                @views.html.accounts.nameCard(nameForm)
              </div>

              <div class="col">
                @views.html.accounts.credentialsCard(credentialsForm)
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="bricklink">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bricklinkCollapse" aria-expanded="false" aria-controls="bricklinkCollapse">
          @messages("account.settings.sync.title")
          </button>
        </h2>
        <div id="bricklinkCollapse" class="accordion-collapse collapse" aria-labelledby="bricklink" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <div class="row row-cols-1 row-cols-md-3 g-3">
              <div class="col">
              @views.html.accounts.brickLinkTokensCard(brickLinkTokensForm)
              </div>
              <div class="col">
              @views.html.accounts.brickLinkTokensCard(brickLinkTokensForm)
              </div>
              <div class="col">
              @views.html.accounts.brickLinkTokensCard(brickLinkTokensForm)
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
}